@media screen and (max-width: 769px) {

  img{
  max-width: 100%;
  height: auto;
  width /***/:auto;
  }
* {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

}

header {
  height: 130px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left a{
  line-height: 65px;
  padding: 0 25px;
  color:white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color:white;
  display: block;
  float: left;
  transition: all 0.5s;
}

header a:hover {
  background-color: rgba(255,255, 255, 0.3);
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
}
