@media print, screen and (min-width: 769px) {
* {
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN", sans-serif;
}

a {
  text-decoration: none;
}


.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;

}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(34, 49, 52, 0.9);
  position :fixed;
  top: 0;
  z-index: 10;
}

.header-left a{
  line-height: 65px;
  padding: 0 25px;
  color:white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a{
  line-height: 65px;
  padding: 0 25px;
  color:white;
  display: block;
  float: left;
  transition: all 0.5s;
}

header a:hover {
  background-color: rgba(255,255, 255, 0.3);
}

.menu-icon {
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display:none;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.main-centor div{
  color: #5f5d60;
  float: left;
  width:50%;
}

.main-left h2{
  margin-top:50px;
}

.main-bottom{
  clear:both;
  color: #5f5d60;
  padding:80px 300px 0 0;
}

footer p {
  color: #b3aeb5;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
}
